ZEROPS_API_BASE=https://api.app-prg1.zerops.io/api/rest/public
ZEROPS_TOKEN=replace_with_your_personal_access_token
ZEROPS_CLIENT_ID=clAhP9lDSH6EWD7hIjQjfQ
STAGING_PROJECT_ID=elq3Bx61R3OMdSUHH2lm7w
PRODUCTION_PROJECT_ID=XUhhqDkAT2WOEIRNB8OBvw
PORT=3001
CORS_ORIGIN=http://localhost:5173
